<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Slabo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <style type="text/css">
      input {
        font-size: 400%;
        font-family: 'Open Sans', sans-serif;
      }
      button, .btn {
        font-size: 400%;
        font-family: 'Open Sans', sans-serif;
      }
      h1 {
        font-size: 400%;
        font-family: 'Slabo', serif;
      }
      h2 {
        font-size: 300%;
        font-family: 'Slabo', serif;
      }
    </style>
  {% block css %}{% endblock %}
  </head>
  <body role="document">
    <div class="container theme-showcase" role="main">
      {% block content %}{% endblock %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
