{% extends "names/base.html" %}
{% load staticfiles %}
{% block css %}
  <style text="text/css">
    .text-danger {
      font-weight: bold;
    }
  </style>
{% endblock %}
{% block content %}
    <h1>The Name Game</h1>

    {% if messages %}
    {% for message in messages %}
    <h2 class="text-success">{{ message }}</h2>
    {% endfor %}
    {% endif %}

    <form action="" method="post">
      {% csrf_token %}
      {{ form.name }}
      <button class="btn btn-primary btn-lg" type="submit">Add Name!</button>
      <p class="{% if added_count > max_names %}text-danger{% else %}text-info{% endif %}">{{ added_count }} out of {{ max_names }} names added</p>
    </form>
    <img src="{% static "names/img/brickhouse.png" %}" height="200">
{% endblock %}
